.explanation {
	margin-bottom: 10px; }
.explanation p {
	margin-bottom: 5px;
}
.team-circle {
	height: 10px;
	width: 10px;
	border-radius: 50px;
	background-color: #666;
	display: inline-block;
	margin: 0 2px 4px 2px; }
.team-circle:hover {
	cursor: pointer; }
.legend .team-circle {
	margin-left: 0;
	margin-bottom: 0;
  margin-right: 10px; }
.legend .team-circle:hover {
  cursor: auto }
.last-update-wrap {
	font-size: 0.75rem;
	line-height: 0.75rem;
}
.table th {
	padding-top: 0;}
td.teams {
	height: 15px;
	text-align: center;
	padding: 0; }
.circle-wrap {
	height: 15px; }
.table td, .table th {
	border: none; }
.table thead td, .table thead th {
	text-align: center; }
.table tbody {
	border-right: 1px solid #efefef; }
.column:last-of-type .table tbody {
	border-right: none; }
img {
	max-width: 30px; }
.table tbody tr {
	border-left: 1px solid #efefef;
	border-bottom: 1px solid #fff; }
.column:nth-of-type(2) .table tbody tr {
	border-left: none;
	border-right: none; }
.column:nth-of-type(3) .table tbody tr {
	border-left: none; }
.table tbody tr, .table tbody {
	transition: border-color 0.5s; }
.columns.is-grid .table tbody tr, .columns.is-grid .table tbody {
	border-color: #999; }
.table.points, .column.points {
	max-width: 25px;
}
.points-wrap {
	height: 15px; }
.listed-points {
	height: 15px;
	font-size: 0.9rem;
	line-height: 15px;
	vertical-align: top;
	font-family: "Ubuntu Mono", monospace }

/* for mobile */
@media (max-width: 768px) {
	.legend {
		margin-bottom: 15px; }
	section.section {
		padding: 1rem 0.75rem; }
	.team-circle {
		margin-bottom: 5px;
		height: 8px;
		width: 8px; }
}

/* for small mobile */
@media (max-width: 375px) {
	.team-circle {
		margin: 0 1px 7px 1px;
		height: 7px;
		width: 7px; }
}